@import 'styles/theme/global-theme';

.btn {
  height: 48px;
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  padding: 0 16px;
  border: 1px solid $color-gray;
  background-color: #f2f7f8;
  margin-bottom: 16px;
  &.--primary {
    background-color: $color-primary;
    color: #fff;
  }
  &.--cancel {
    background-color: #ffe2e5;
    color: $color-error;
  }
  &.--outline-error {
    background-color: white;
    border-color: $color-error;    
  }
  &.--outline-info {
    background-color: white;
    border-color: $color-blue;    
    color: $color-blue;
  }
}