@import 'styles/theme/global-theme';

.tab {
  &__wrapper {
    height: 100vh;
    z-index: 1;
    padding: 56px 0 0;
    background-color: #f8f8f9;
    .tab {
      &__container {
        padding: 0 15px;
      }
    }
  }
  &__title {
    margin: 15px 0;
  }
  &__list {
    ul {
      list-style: none;
      .card {
        padding: 8px 15px;
        margin-top: 15px;
        cursor: pointer;
        &:first-child {
          margin-top: 0;
        }
        :hover {
          p, h2, h6 {
            color: $color-blue;
          }
        }
      }
    }
  }
}

.assignment {
  display: flex;
  align-items: center;
  &__ico {
    font-size: 1.25em;
    padding: 10px 20px 10px 5px;
  }
  &__detail {
    width: calc(100% - 40px);
    .detail {
      &__superior {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4px;
        h2 {
          font-size: 1.2em;
          color: $color-text;
        }
        h6 {
          color: lighten($color-text, 40%);
        }
      }
      &__inferior {
        p {
          font-size: .8em;
          color: $color-text;
        }
      }
    }
  }
}

.MuiSkeleton-root {
  background-color: rgba(0, 0, 0, 0.11) !important;
}