@import 'styles/theme/global-theme';

.tab {
  &__wrapper {
    min-height: 100vh;
    z-index: 1;
    padding: 56px 0 0;
    background-color: #f8f8f9;
    .tab {
      &__container {
        padding: 0 15px;
        padding-bottom: 40px;
      }
    }
  }
  &__title {
    margin: 15px 0;
  }
  &__list {
    ul {
      list-style: none;
      .card {
        padding: 8px 15px;
        margin-top: 15px;
        cursor: pointer;
        &:first-child {
          margin-top: 0;
        }
        :hover {
          p, h2, h6 {
            color: $color-blue;
          }
        }
      }
    }
  }

  &__empty {
    margin: 10px 0 0;
    color: $color-blue;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
  }
}

.assignment {
  display: flex;
  align-items: center;
  &__ico {
    font-size: 1.25em;
    padding: 10px 20px 10px 5px;
  }
  &__detail {
    width: calc(100% - 40px);
    .detail {
      &__superior {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4px;
        h2 {
          font-size: 1.2em;
          color: $color-text;
        }
        h6 {
          color: lighten($color-text, 40%);
        }
      }
      &__inferior {
        p {
          font-size: .8em;
          color: $color-text;
        }
      }
    }
  }
}

.filters_buttons {
  margin-top: 24px;
  .btn {
    color: white;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 24px;
      margin-right: 8px;;
    }
  }

  .--blue {
    height:136px;
    background-color: #3c92fa;
    font-size: 28px;
    flex-direction: column;
    span {
      font-size: 40px;
    }
    &.--active, &:hover {
      background-color: $color-blue;
    }
  }
  
  .--yellow {
    background-color: #ffc56c;
    margin-bottom: 8px;
    &.--active, &:hover{
      background-color: $color-yellow;
    }
  }

  .--red {
    background-color: #ff7f7b;
    &.--active, &:hover {
      background-color: $color-error;
    }
  }
}