@import 'styles/theme/global-theme';

.summary {
  padding: 16px 0px;
  border-bottom: 1px solid $color-gray;
  margin-bottom: 16px;
  &__icon {
    font-size: 1.7em;
    padding-right: 16px;
  }

  &__title {
    color: $color-text;
  }

  &__subtitle {
    color: $color-secondary;
  }
}

.detail {
  &__title {
    color: $color-blue;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__label {
    color: #888888;
    font-size: 14px;
  }

  &__value {
    margin-bottom: 16px;
    font-size: 14px;
  }

  &__grid {
    margin-bottom: 32px !important;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  padding: 16px 16px;
  left: 0;
  bottom: 0;
  background-color: white;
  .btn {
    margin-bottom: 0;
  }

  .--outline-info {
    font-family: $font-bold;
  }
}