@import 'styles/theme/global-theme';
.tab {
  &__container {
    padding-bottom: 100px;
  }
}

.form {
  margin-top: 16px;

  .btn {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .svg-inline--fa {
    font-size: 1.4em;
    margin-right: 8px;
  }

  .--outline-info {
    margin-top: 8px;
  }

  &__file {
    width: 100%;
    font-family: $font-bold;
    input {
      display: none;
    }
  }

  &__preview {
    position: relative;
    padding-bottom: 60px;
    .btn {
      position: absolute;
      top: -4px;
      bottom: 0;
      right: -4px;
      max-width:32px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      border-radius: 100px;
    }
    .fa-times {
      font-size: 1em;
      margin-right: 0;
    }
  }

  &__preview-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat;
    margin-bottom: 16px;
  }
}

.MuiAlert-root {
  position: absolute;
  bottom: 95px;
  z-index: 10;
  left: 5%;
  width: 90%;
  
}