// COLORS
$color-primary: #0cc665;
$color-secondary: #00A2FF;
$color-gray: #dedede;
$color-text: #3b3b3b;
$color-success: #65D543;
$color-error: #FF4A44;
$color-blue: #205390;

// FONTS
$font-black: Flexo-black, sans-serif;
$font-bold: Flexo-bold, sans-serif;
$font-medium: Flexo-medium, sans-serif;
$font-regular: Flexo-regular, sans-serif;
$font-thin: Flexo-thin, sans-serif;